.first_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg_logo {
  position: absolute;
  top: 5%;
  width: 80%;
  height: 80vmin;
  z-index: -1;
  opacity: 0.1;
}
.subtitle {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-size: calc(0.9rem + 1vw);
  width: 80%;
  text-align: center;
  color: #000000;
}
.uni {
  color: #138808;
}
.title {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  /* font-size: 8vmin; */
  color: #f3983e;
}
.line_image {
  width: 80%;
  margin: 1vmin 0vmin;
}
.section-container {
  width: 80%;
  margin-bottom: 6vmin;
}
.row {
  display: flex;
  flex-direction: column;
}
.col {
  width: 96%;
  display: flex;
  flex-direction: column;
  margin: 2vmin 1vmin;
}
.body {
  width: 80%;
  font-family: "Comic Neue", cursive;
  line-height: 1.1;
  font-size: calc(0.5rem + 1vw);
  font-weight: 400;
  margin-bottom: calc(0.1rem + 1vw);
}
.email {
  width: 80%;
  font-family: "Comic Neue", cursive;
  /* font-size: 3.9vmin; */
  line-height: 1.1;
  margin-top: (0.5rem + 1vw);
  font-weight: 400;
  margin-bottom: 2vmin;
  color: #138808;
  font-size: calc(0.8rem + 1vw);
}
.sub_heading {
  margin-bottom: calc(0.2em + 1vw);
  font-size: calc(0.7rem + 2vw);
  line-height: 1.1;
  font-weight: 600;
  color: #138808;
  font-family: "Comic Neue", cursive;
}
.heading {
  color: #f3983e;
  font-size: calc(0.7rem + 2vw);
  font-weight: 700;
  font-family: "Comic Neue", cursive;
  line-height: 1.1;
  margin-bottom: calc(0.1em + 0.5vw);
  text-transform: uppercase;
}
.card {
  height: calc(5vw * 50vh);
  width: 90%;
  border-radius: 25px;
  box-shadow: 2px 3px rgba(136, 136, 136, 0.2);
  z-index: 2;
  background-color: #f7f7f7;
  align-items: center;
  padding: calc(2em + 1vw);
}
.input_container {
  display: flex;
  margin-bottom: 3vmin;
  width: 90%;
  flex-direction: column;
}
.section_heading {
  margin-bottom: calc(1em + 1vw);
  /* font-size: 2.5vmin; */
  line-height: 1.1;
  font-weight: 600;
  font-size: calc(1em + 1vw);
  color: #000;
  font-family: "Comic Neue", cursive;
}
.input_text {
  border: 2px solid #ccc;
  border-radius: 5px;
  height: 90%;
  padding: calc(0.1em + 1vw);
  font-family: "Comic Neue", cursive;
  font-weight: 500;
  font-size: calc(1em + 1vw);
  /* font-size: 2.5vmin; */
}
.input_text:focus {
  outline: none;
}
.input_text::placeholder {
  font-family: "Comic Neue", cursive;
  font-weight: 500;
  /* font-size: 2vmin; */
}
.button:hover {
  box-shadow: 1.5px 3px #cccccc;
  opacity: 0.8;
}
.button {
  transition: all 1s;
  cursor: pointer;
  width: 55%;
  border-radius: 5px;
  color: white;
  background-color: #f3983e;
  font-family: "Comic Neue", cursive;
  font-weight: 500;
  font-size: calc(1em + 1vw);
  justify-content: center;
  align-items: center;
  padding: calc(0.1em + 1vw);
  border-radius: 5px;
  border-width: 0px;
  box-shadow: 2px 4px #cccccc;
}
.l1 {
  width: 50vmin;
  height: 40vmin;
}

.top_name_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 3vmin;
  left: 3vmin;
}
.top_name_container > text:first-child {
  font-size: calc(0.9rem + 2vw);
  line-height: 1.1;
  font-weight: 600;
  color: #f3983e;
  font-family: "Comic Neue", cursive;
}
.top_name_container > text:last-child {
  font-size: calc(0.9rem + 2vw);
  line-height: 1.1;
  font-weight: 600;
  color: #138808;
  font-family: "Comic Neue", cursive;
}

.copyright {
  position: relative;

  /* font-size: 2.5vmin; */
  line-height: 1.1;
  font-size: calc(0.5em + 1vw);
  font-weight: 600;
  color: #000;
  font-family: "Comic Neue", cursive;
  margin-bottom: calc(1rem + 1vw);
}

/*Main Css*/
.inner_child {
  width: 95%;
  height: calc(50vw * 50vh);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: calc(2em + 2vw) auto 1px auto;
  position: relative;
  padding-left: 0.5em;
  /* background-color: #000; */
}
.inner_child::before {
  max-width: 100%;
  content: "";
  background: url("../university_bg_s.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.image_container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.bubble {
  max-width: 70%;
  max-height: 50%;
  height: 21%;
  content: "";
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.image_container:first-child > .bubble {
  background: url("../though_2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: calc(3em + 3vw);
}
.image_container:nth-child(2) > .bubble {
  background: url("../center_svg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: calc(3em + 3vw);
}
.image_container:last-child > .bubble {
  /* background: url("../left_bubble.svg"); */
  background-color: #f3983e;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: calc(4em + 4vw);
}
.image_container:last-child > .bubble > .box_text {
  margin-bottom: calc(1em + 1vw);
  margin-top: calc(1em + 1vw);
  margin-left: calc(1em + 1vw);
  margin-right: calc(0.2em + 1vw);
}
.box_text {
  width: 69%;
  line-height: 1.1;
  font-weight: 600;
  font-size: 1em;
  color: #138808;
  font-family: "Comic Neue", cursive;
  margin-bottom: calc(1em + 1vw);
  margin-left: calc(0.5em + 1vw);
  margin-right: calc(0.2em + 1vw);
}
.stu_image {
  max-width: 100%;
  max-height: 30%;
  margin-bottom: calc(4em + 3vw);
}
.brand_text {
  font-family: "Comic Neue", cursive;
  line-height: 1.1;
  font-weight: 400;
  font-size: calc(0.7em + 1vw);
  margin: 0;
  padding: 0;
  color: #f3983e;
}
@media (orientation: landscape) {
  .section-container {
    width: 80%;
    margin-bottom: calc(3rem + 1vh);
  }
}
@media (max-width: 722px) {
  .inner_child {
    width: 95%;
    height: calc(50vw * 50vh);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: calc(2em + 2vw) auto 1px auto;
    position: relative;
    padding-left: 0.5em;
    /* background-color: #000; */
  }
  .inner_child::before {
    max-width: 100%;
    content: "";
    background: url("../university_bg_s.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  .image_container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .bubble {
    max-width: 70%;
    max-height: 50%;
    height: 21%;
    content: "";
    position: relative;
    /* background-color: #cccccc; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .image_container:first-child > .bubble {
    background: url("../though_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: calc(3em + 3vw);
  }
  .image_container:nth-child(2) > .bubble {
    width: 80%;
    height: 18%;
    margin-bottom: calc(-3em + 3vw);
    /* background: url("../center_svg.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: calc(3em + 3vw);
  }
  .image_container:last-child > .bubble {
    background: url("../left_bubble.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: calc(4em + 4vw);
  }
  .image_container:last-child > .bubble > .box_text {
    margin-bottom: calc(1em + 1vw);
    margin-top: calc(1em + 1vw);
    margin-left: calc(1em + 1vw);
    margin-right: calc(0.2em + 1vw);
  }
  .box_text {
    width: 69%;
    line-height: 1.1;
    font-weight: 600;
    font-size: calc(0.18rem + 1vw);
    color: #138808;
    font-family: "Comic Neue", cursive;
    margin-bottom: calc(1em + 1vw);
    margin-left: calc(0.5em + 1vw);
    margin-right: calc(0.2em + 1vw);
  }
  .stu_image {
    max-width: 100%;
    max-height: 30%;
    margin-bottom: calc(4em + 3vw);
  }
}

@media (min-width: 723px) {
  .inner_child {
    width: 93%;
    height: calc(60vw + 5vh);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: calc(2em + 2vw) auto 1px auto;
    position: relative;
    padding-left: 0.5em;
    /* background-color: #000; */
  }
  .inner_child::before {
    max-width: 100%;
    content: "";
    background: url("../university_bg_s.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  .image_container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .bubble {
    max-width: 100%;
    height: 25%;
    max-height: 50%;
    content: "";
    position: relative;
    /* background-color: #cccccc; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .image_container:first-child > .bubble {
    background: url("../though_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: calc(3.2em + 3vw);
  }
  .image_container:nth-child(2) > .bubble {
    /* background-color: #f3983e; */
    height: 25%;
    width: 60%;
    margin-bottom: calc(-3em + 2vw);
    background: url("../center_svg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: calc(3em + 3vw);
  }
  .image_container:last-child > .bubble {
    background: url("../left_bubble.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: calc(4em + 4vw);
  }
  .image_container:last-child > .bubble > .box_text {
    margin-bottom: calc(1.5em + 2vw);
    margin-top: calc(1em + 1vw);
    margin-left: calc(1.5em + 1vw);
    margin-right: calc(0.5em + 1vw);
  }
  .box_text {
    width: 65%;
    line-height: 1.1;
    font-weight: 600;
    font-size: calc(0.25rem + 1vw);
    color: #138808;
    font-family: "Comic Neue", cursive;
    /* margin: auto; */
    /* margin-top: calc(1.5em + 1vw); */
  }
  .stu_image {
    max-width: 100%;
    max-height: 30%;
    margin-bottom: calc(3em + 3vw);
  }
}

@media (min-width: 845px) {
  .row {
    display: flex;
    flex-direction: row;
  }
  .col {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 2vmin 1vmin;
  }
  .body {
    width: 80%;
    font-family: "Comic Neue", cursive;
    line-height: 1.1;
    font-size: calc(0.6em + 1vw);
    font-weight: 400;
    margin-bottom: calc(0.1em + 0.5vw);
  }
  .email {
    width: 80%;
    font-family: "Comic Neue", cursive;
    /* font-size: 3.9vmin; */
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 2vmin;
    margin-top: 2vmin;
    color: #138808;
    font-size: calc(1em + 1vw);
  }
  .sub_heading {
    margin-bottom: 14px;
    font-size: calc(1.5em + 1vw);
    line-height: 1.1;
    font-weight: 600;
    color: #138808;
    font-family: "Comic Neue", cursive;
  }
  .heading {
    color: #f3983e;
    font-size: calc(1.6em + 1vw);
    font-weight: 700;
    font-family: "Comic Neue", cursive;
    line-height: 25px;
    margin-bottom: calc(0.9em +1vw);
    text-transform: uppercase;
  }
  .card {
    /* height: calc(12vw + 10vh); */
    border-radius: 25px;
    box-shadow: 2px 3px rgba(136, 136, 136, 0.2);
    z-index: 2;
    background-color: #f7f7f7;
    align-items: center;
    padding: calc(1em + 1vw) calc(1em + 1vw);
  }
  .input_container {
    display: flex;
    margin-bottom: calc(0.5em + 1vw);
    width: 93%;
    flex-direction: column;
  }
  .section_heading {
    margin-bottom: calc(0.3em + 0.5vw);
    /* font-size: 2.5vmin; */
    line-height: 1.1;
    font-weight: 600;
    font-size: calc(0.5em + 1vw);
    color: #000;
    font-family: "Comic Neue", cursive;
  }
  .input_text {
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 90%;
    padding: calc(0.01em + 1vw);
    font-family: "Comic Neue", cursive;
    font-weight: 500;
    font-size: calc(0.5em + 1vw);
    /* font-size: 2.5vmin; */
  }
  .button {
    transition: all 1s;
    cursor: pointer;
    width: 55%;
    border-radius: 5px;
    color: white;
    background-color: #f3983e;
    font-family: "Comic Neue", cursive;
    font-weight: 500;
    font-size: calc(0.5em + 1vw);
    justify-content: center;
    align-items: center;
    padding: calc(0.1em + 0.8vw);
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 2px 4px #cccccc;
  }
}

@media (min-width: 975px) {
  .inner_child {
    width: 95%;
    height: calc(54vw + 4vh);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: calc(1em + 1vw) auto 0px auto;
    position: relative;
    padding-left: 0.5em;
    /* background-color: #000; */
  }
  .stu_image {
    max-width: 100%;
    max-height: 30%;
    margin-bottom: calc(4em + 2vw);
  }
  .image_container:last-child > .bubble > .box_text {
    margin-bottom: calc(1em + 1vw);
    margin-top: calc(1em + 1vw);
    margin-left: calc(3.2em + 1vw);
    margin-right: calc(2em + 1vw);
  }
  .image_container:nth-child(2) > .bubble {
    margin-bottom: calc(-1.1em + 1vw);
  }
  .box_text {
    width: 60%;
    line-height: 1.1;
    font-weight: 600;
    font-size: 1em;
    color: #138808;
    font-family: "Comic Neue", cursive;
    margin-bottom: calc(2em + 3vw);
    margin-top: calc(1.5em + 1vw);
    margin-left: calc(2em + 2vw);
    margin-right: calc(1.5em + 1vw);
  }
  .bubble {
    max-width: 70%;
    max-height: 50%;
    height: 28%;
    content: "";
    position: relative;
    /* background-color: #cccccc; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .body {
    width: 80%;
    font-family: "Comic Neue", cursive;
    line-height: 1.1;
    font-size: calc(0.4rem + 1vw);
    font-weight: 400;
    margin-bottom: calc(0.1em + 0.5vw);
  }
  .email {
    width: 80%;
    font-family: "Comic Neue", cursive;
    /* font-size: 3.9vmin; */
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 2vmin;
    margin-top: 2vmin;
    color: #138808;
    font-size: calc(0.5em + 1vw);
  }
  .sub_heading {
    margin-bottom: 14px;
    font-size: calc(1.2em + 1vw);
    line-height: 1.1;
    font-weight: 600;
    color: #138808;
    font-family: "Comic Neue", cursive;
  }
  .heading {
    color: #f3983e;
    font-size: calc(1.3em + 1vw);
    font-weight: 700;
    font-family: "Comic Neue", cursive;
    line-height: 1.1;
    text-transform: uppercase;
  }
  .card {
    /* height: calc(12vw + 10vh); */
    border-radius: 25px;
    box-shadow: 2px 3px rgba(136, 136, 136, 0.2);
    z-index: 2;
    background-color: #f7f7f7;
    align-items: center;
    padding: calc(1em + 1vw) calc(1em + 1vw);
  }
  .input_container {
    display: flex;
    margin-bottom: calc(0.5em + 1vw);
    width: 93%;
    flex-direction: column;
  }
  .section_heading {
    margin-bottom: calc(0.3em + 0.5vw);
    /* font-size: 2.5vmin; */
    line-height: 1.1;
    font-weight: 600;
    font-size: calc(0.2em + 1vw);
    color: #000;
    font-family: "Comic Neue", cursive;
  }
  .input_text {
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 90%;
    padding: calc(0.1rem + 0.6vw);
    font-family: "Comic Neue", cursive;
    font-weight: 500;
    font-size: calc(0.3rem + 1vw);
    /* font-size: 2.5vmin; */
  }
  .button {
    transition: all 1s;
    cursor: pointer;
    width: 55%;
    border-radius: 5px;
    color: white;
    background-color: #f3983e;
    font-family: "Comic Neue", cursive;
    font-weight: 500;
    font-size: calc(0.5em + 1vw);
    justify-content: center;
    align-items: center;
    padding: calc(0.1em + 0.5vw);
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 2px 4px #cccccc;
  }
  .copyright {
    position: relative;
    bottom: calc(1em + 1vw);
    margin-bottom: 1vmin;
    /* font-size: 2.5vmin; */
    line-height: 1.1;
    font-size: calc(0.1em + 1vw);
    font-weight: 600;
    color: #000;
    font-family: "Comic Neue", cursive;
    margin-bottom: 1em;
  }
}

@media (min-width: 1249px) {
  .inner_child {
    width: 90%;
    height: calc(45vw + 4vh);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: calc(2em + 2vw) auto calc(0.5em + 1vw) auto;
    position: relative;
    padding-left: 0.5em;
    /* background-color: #000; */
  }
  .box_text {
    font-size: medium;
    width: 50%;
    margin-left: calc(1.5em + 2vw);
    margin-right: calc(1.5em + 1vw);
  }
  .stu_image {
    max-width: 100%;
    max-height: 30%;
    margin-bottom: calc(1em + 1vw);
  }
}

@media (min-width: 1318px) {
  .inner_child {
    width: 85%;
    height: calc(42vw + 4vh);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: calc(1em + 2vw) auto calc(1em + 1vw) auto;
    position: relative;
    padding-left: 0.5em;
    /* background-color: #000; */
  }
  .box_text {
    width: 55%;
    line-height: 1.1;
    font-weight: 600;
    font-size: medium;
    color: #138808;
    margin-left: calc(0.5em + 1vw);
    margin-right: calc(0.2em + 1vw);
    font-family: "Comic Neue", cursive;
    /* margin: auto; */
    margin-top: calc(2em + 1vw);
  }
}
