.first_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inner_child {
  width: 77%;
  height: 72vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 11vmin 0vmin 7vmin 0vmin;
}
.bubble {
  display: flex;
  position: relative;
  z-index: 1;
  right: 4vmin;
}
.first_bubble {
  display: flex;
  position: relative;
  z-index: 1;
  right: 7vmin;
}
.second_bubble {
  display: flex;
  position: relative;
  z-index: 1;
  right: 3vmin;
  top: 3vmin;
}
.third_bubble {
  display: flex;
  position: relative;
  z-index: 1;
}
.second_bubble > text:first-child {
}
.third_bubble > text:first-child {
  margin-top: 2vmin;
}
.text_in_box {
  font-family: "Comic Neue", cursive;
  font-weight: bolder;
  top: 8vmin;
  margin-left: 5.8vmin;
  position: absolute;
  font-size: 2.4vmin;
  z-index: 2;
  color: #138808;
  width: 23vmin;
}
.bg_logo {
  position: absolute;
  top: 5%;
  width: 80%;
  height: 80vmin;
  z-index: -1;
  opacity: 0.1;
}
.image_container {
  display: flex;
  height: 78%;
  padding-right: 5vmin;
  /* width: 15%; */
}
.stu_first_image {
  height: 25vmin;
  align-self: flex-end;
  padding-left: 4vmin;
}
.stu_second_image {
  height: 20vmin;
  align-self: flex-end;
  margin-bottom: 4vmin;
}
.stu_third_image {
  height: 25vmin;
  align-self: flex-end;
}
.thought_image_1 {
  position: absolute;
  width: 33vmin;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 30vmin;
  top: 2vmin;
}
.thought_image_2 {
  position: absolute;
  width: 35vmin;
  height: 32vmin;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.thought_image_3 {
  position: absolute;
  width: 32vmin;
  height: 29vmin;
  top: 2.5vmin;
}
.subtitle {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-size: 3vmin;
  width: 80%;
  text-align: center;
  color: #000000;
}
.uni {
  color: #138808;
}
.title {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-size: 8vmin;
  color: #f3983e;
}
.line_image {
  width: 80%;
  margin: 1vmin 0vmin;
}
.section-container {
  width: 80%;
  margin-bottom: 5vmin;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin: 3vmin;
}
.body {
  width: 80%;
  font-family: "Comic Neue", cursive;
  font-size: 2.5vmin;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 2vmin;
}
.email {
  width: 80%;
  font-family: "Comic Neue", cursive;
  font-size: 2.5vmin;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 2vmin;
  color: #138808;
}
.sub_heading {
  margin-bottom: 14px;
  font-size: 4vmin;
  line-height: 1.1;
  font-weight: 600;
  color: #138808;
  font-family: "Comic Neue", cursive;
}
.heading {
  color: #f3983e;
  font-size: 3.5vmin;
  font-weight: 700;
  font-family: "Comic Neue", cursive;
  line-height: 25px;
  margin-bottom: 0.4vmin;
  text-transform: uppercase;
}
.card {
  width: 45%;
  border-radius: 25px;
  box-shadow: 2px 3px rgba(136, 136, 136, 0.2);
  z-index: 2;
  background-color: #f7f7f7;
  align-items: center;
  padding: 4vmin 2vmin;
}
@media screen and (max-width: 702px) {
  .card {
    width: 90%;
  }
  .col {
    width: 90%;
  }
  .section-container {
    display: flex;
    flex-direction: column;
  }
  .inner_child {
    height: 52vh;
    width: 87%;
  }
  .image_container {
    height: 38vh;
    margin-right: 4vmin;
  }
  .thought_image_1 {
    position: absolute;
    width: 29vmin;
    top: 6%;
    left: 4vmin;
    height: 28vmin;
  }
  .thought_image_2 {
    width: 30vmin;
    height: 28vmin;
    top: 2vmin;
  }

  .thought_image_3 {
    width: 25vmin;
    height: 22vmin;
    top: 8vmin;
    left: 3vmin;
  }
  .third_bubble > text:first-child {
    margin-top: 5vmin;
    font-size: 2vmin;
    width: 17vmin;
    left: 2vmin;
  }
  .second_bubble > text:first-child {
    margin-top: 1vmin;
    font-size: 2vmin;
    bottom: 0vmin;
  }
  .first_bubble {
    display: flex;
    position: relative;
    z-index: 1;
    right: 7vmin;
  }
  .second_bubble {
    display: flex;
    position: relative;
    z-index: 1;
    right: 3vmin;
    top: 3vmin;
  }
  .third_bubble {
    display: flex;
    position: relative;
    z-index: 1;
  }
  .first_bubble > text:first-child {
    top: 8.8vmin;
    left: 3vmin;
    margin-left: 5.8vmin;
    position: absolute;
    font-size: 2.1vmin;
  }
}
.input_container {
  display: flex;
  margin-bottom: 3vmin;
  width: 90%;
  height: 28%;
  flex-direction: column;
}
.section_heading {
  margin-bottom: 1vmin;
  font-size: 1.9vmin;
  line-height: 1.1;
  font-weight: 600;
  color: #000;
  font-family: "Comic Neue", cursive;
}
.input_text {
  border: 2px solid #ccc;
  border-radius: 5px;
  height: 90%;
  padding-left: 2vmin;
  font-family: "Comic Neue", cursive;
  font-weight: 500;
  font-size: 1.8vmin;
}
.input_text:focus {
  outline: none;
}
.input_text::placeholder {
  font-family: "Comic Neue", cursive;
  font-weight: 500;
  font-size: 1.6vmin;
}
.button:hover {
  box-shadow: 1.5px 3px #cccccc;
  opacity: 0.8;
}
.button {
  transition: all 1s;
  cursor: pointer;
  height: 4.5vmin;
  width: 55%;
  border-radius: 5px;
  color: white;
  background-color: #f3983e;
  font-family: "Comic Neue", cursive;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  padding-top: 0.5vmin;
  font-size: 1.9vmin;
  border-radius: 5px;
  border-width: 0px;
  box-shadow: 2px 4px #cccccc;
}
.l1 {
  width: 50vmin;
  height: 40vmin;
}
.top_name_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 3vmin;
  left: 3vmin;
}
.top_name_container > text:first-child {
  font-size: 4vmin;
  line-height: 1.1;
  font-weight: 600;
  color: #f3983e;
  font-family: "Comic Neue", cursive;
}
.top_name_container > text:last-child {
  font-size: 4vmin;
  line-height: 1.1;
  font-weight: 600;
  color: #138808;
  font-family: "Comic Neue", cursive;
}
.copyright {
  position: relative;
  bottom: 4vmin;
  margin-bottom: 1vmin;
  font-size: 1.9vmin;
  line-height: 1.1;
  font-weight: 600;
  color: #000;
  font-family: "Comic Neue", cursive;
  margin: 4vmin 0;
}
@media screen and (max-width: 396px) {
  .card {
    width: 90%;
    height: 18vh;
  }
  .col {
    width: 90%;
  }
  .section-container {
    display: flex;
    flex-direction: column;
  }
  .inner_child {
    height: 40vh;
    width: 87%;
  }
  .image_container {
    height: 29vh;
    margin-right: 4vmin;
  }
  .thought_image_1 {
    position: absolute;
    width: 29vmin;
    top: 6%;
    left: 4vmin;
    height: 28vmin;
  }
  .thought_image_2 {
    width: 30vmin;
    height: 28vmin;
    top: 2vmin;
  }

  .thought_image_3 {
    width: 25vmin;
    height: 22vmin;
    top: 8vmin;
    left: 3vmin;
  }
  .third_bubble > text:first-child {
    margin-top: 5.8vmin;
    font-size: 2vmin;
    width: 17vmin;
    left: 2vmin;
  }
  .second_bubble > text:first-child {
    margin-top: 2.4vmin;
    font-size: 2.1vmin;
    bottom: 0vmin;
  }
  .first_bubble {
    display: flex;
    position: relative;
    z-index: 1;
    right: 7vmin;
  }
  .second_bubble {
    display: flex;
    position: relative;
    z-index: 1;
    right: 3vmin;
    top: 3vmin;
  }
  .third_bubble {
    display: flex;
    position: relative;
    z-index: 1;
  }
  .first_bubble > text:first-child {
    top: 11vmin;
    left: 2.5vmin;
    margin-left: 5.8vmin;
    position: absolute;
    font-size: 2.1vmin;
  }
}
