.first_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .bubble {
  display: flex;
  position: relative;
  z-index: 1;
  right: 4vmin;
} */

.second_bubble {
  display: flex;
  position: relative;
  z-index: 1;
  right: 3vmin;
  top: 3vmin;
}
.third_bubble {
  display: flex;
  position: relative;
  z-index: 1;
}
.second_bubble > text:first-child {
}
.third_bubble > text:first-child {
  margin-top: 2vmin;
}

.bg_logo {
  position: absolute;
  top: 5%;
  width: 80%;
  height: 80vmin;
  z-index: -1;
  opacity: 0.1;
}

.stu_second_image {
  height: 20vmin;
  align-self: flex-end;
  margin-bottom: 4vmin;
}
.stu_third_image {
  height: 25vmin;
  align-self: flex-end;
}

.thought_image_2 {
  position: absolute;
  width: 35vmin;
  height: 32vmin;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.thought_image_3 {
  position: absolute;
  width: 32vmin;
  height: 29vmin;
  top: 2.5vmin;
}
.subtitle {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-size: 3vmin;
  width: 80%;
  text-align: center;
  color: #000000;
}
.uni {
  color: #138808;
}
.title {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-size: 8vmin;
  color: #f3983e;
}
.line_image {
  width: 80%;
  margin: 1vmin 0vmin;
}
.section-container {
  width: 80%;
  margin-bottom: 5vmin;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin: 3vmin;
}
.body {
  width: 80%;
  font-family: "Comic Neue", cursive;
  font-size: 2.5vmin;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 2vmin;
}
.email {
  width: 80%;
  font-family: "Comic Neue", cursive;
  font-size: 2.5vmin;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 2vmin;
  color: #138808;
}
.sub_heading {
  margin-bottom: 14px;
  font-size: 4vmin;
  line-height: 1.1;
  font-weight: 600;
  color: #138808;
  font-family: "Comic Neue", cursive;
}
.heading {
  color: #f3983e;
  font-size: 3.5vmin;
  font-weight: 700;
  font-family: "Comic Neue", cursive;
  line-height: 25px;
  margin-bottom: 0.4vmin;
  text-transform: uppercase;
}
.card {
  height: 27vh;
  width: 45%;
  border-radius: 25px;
  box-shadow: 2px 3px rgba(136, 136, 136, 0.2);
  z-index: 2;
  background-color: #f7f7f7;
  align-items: center;
  padding: 4vmin 2vmin;
}
.input_container {
  display: flex;
  margin-bottom: 3vmin;
  width: 90%;
  height: 28%;
  flex-direction: column;
}
.section_heading {
  margin-bottom: 1vmin;
  font-size: 1.9vmin;
  line-height: 1.1;
  font-weight: 600;
  color: #000;
  font-family: "Comic Neue", cursive;
}
.input_text {
  border: 2px solid #ccc;
  border-radius: 5px;
  height: 90%;
  padding-left: 2vmin;
  font-family: "Comic Neue", cursive;
  font-weight: 500;
  font-size: 1.8vmin;
}
.input_text:focus {
  outline: none;
}
.input_text::placeholder {
  font-family: "Comic Neue", cursive;
  font-weight: 500;
  font-size: 1.6vmin;
}
.button:hover {
  box-shadow: 1.5px 3px #cccccc;
  opacity: 0.8;
}
.button {
  transition: all 1s;
  cursor: pointer;
  height: 4.5vmin;
  width: 55%;
  border-radius: 5px;
  color: white;
  background-color: #f3983e;
  font-family: "Comic Neue", cursive;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  padding-top: 0.5vmin;
  font-size: 1.9vmin;
  border-radius: 5px;
  border-width: 0px;
  box-shadow: 2px 4px #cccccc;
}
.l1 {
  width: 50vmin;
  height: 40vmin;
}
.top_name_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 3vmin;
  left: 3vmin;
}
.top_name_container > text:first-child {
  font-size: 4vmin;
  line-height: 1.1;
  font-weight: 600;
  color: #f3983e;
  font-family: "Comic Neue", cursive;
}
.top_name_container > text:last-child {
  font-size: 4vmin;
  line-height: 1.1;
  font-weight: 600;
  color: #138808;
  font-family: "Comic Neue", cursive;
}
.copyright {
  position: relative;
  bottom: 3vmin;
  margin-bottom: 1vmin;
  font-size: 1.9vmin;
  line-height: 1.1;
  font-weight: 600;
  color: #000;
  font-family: "Comic Neue", cursive;
  margin-bottom: 1.5vmin;
}
.inner_child {
  width: 95%;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0vmin 12px 0vmin;
  /* background-color: #138808; */
}
.inner_child::after {
  content: "";
  background: url("../assets/university_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.2;
  width: 95%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.image_container {
  width: 33%;
  height: 100%;
  padding-top: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #ccc; */
}
.stu_first_image {
  height: 45%;
  padding-bottom: 5px;
  padding-left: 5px;
}
.first_bubble {
  display: flex;
  z-index: 1;
}
.thought_image_1 {
  width: 80px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 75px;
}

.text_in_box {
  font-family: "Comic Neue", cursive;
  font-weight: bolder;
  font-size: 6px;
  margin-top: 16px;
  position: absolute;
  left: 19%;
  transform: translate(-50%, 0);
  z-index: 2;
  color: #138808;
  width: 17%;
}
@media screen and (min-width: 398px) {
  .inner_child {
    width: 90%;
    height: 260px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10% 0vmin 7% 0vmin;
    /* background-color: #138808; */
  }
  .inner_child::after {
    content: "";
    background: url("../assets/university_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.2;
    width: 90%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  .image_container {
    width: 33%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .stu_first_image {
    height: 50%;
    padding-left: 5px;
  }
  .first_bubble {
    display: flex;
    z-index: 1;
  }
  .thought_image_1 {
    width: 110px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 95px;
  }
  .first_bubble > .text_in_box {
    font-family: "Comic Neue", cursive;
    font-weight: bolder;
    font-size: 8px;
    margin-top: 20px;
    position: absolute;
    left: 21%;
    transform: translate(-50%, 0);
    z-index: 2;
    color: #138808;
    width: 85px;
  }
}

@media screen and (min-width: 500px) {
  .image_container {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
    justify-content: flex-end;
  }
  .stu_first_image {
    height: 50%;
    padding-left: 5px;
  }
}

@media screen and (min-width: 570px) {
  .inner_child {
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15% 0vmin 9% 0vmin;
    /* background-color: #138808; */
  }
  .stu_first_image {
    height: 60%;
    padding-left: 5px;
  }
  .thought_image_1 {
    width: 130px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 110px;
  }
  .first_bubble > .text_in_box {
    font-family: "Comic Neue", cursive;
    font-weight: bolder;
    font-size: 10px;
    margin-top: 20px;
    position: absolute;
    left: 21%;
    transform: translate(-50%, 0);
    z-index: 2;
    color: #138808;
    width: 85px;
  }
}

@media screen and (min-width: 710px) {
  .inner_child {
    width: 90%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10% 0vmin 8% 0vmin;
    /* background-color: #138808; */
  }
  .image_container {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #ccc; */
  }
  .stu_first_image {
    height: 45%;
    padding-left: 5px;
  }
  .thought_image_1 {
    width: 160px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 140px;
  }
  .first_bubble > .text_in_box {
    font-family: "Comic Neue", cursive;
    font-weight: bolder;
    font-size: 12.5px;
    margin-top: 20px;
    position: absolute;
    left: 21%;
    transform: translate(-50%, 0);
    z-index: 2;
    color: #138808;
    width: 100px;
  }
}

@media screen and (min-width: 818px) {
  .inner_child {
    width: 90%;
    height: 570px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0vmin 3% 0vmin;
    /* background-color: #138808; */
  }
  .image_container {
    width: 33%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10%;
  }
  .stu_first_image {
    height: 44%;
    padding-left: 5px;
  }
  .thought_image_1 {
    width: 200px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 160px;
  }
  .first_bubble > .text_in_box {
    font-family: "Comic Neue", cursive;
    font-weight: bolder;
    font-size: 16.5px;
    margin-top: 20px;
    position: absolute;
    left: 21%;
    transform: translate(-50%, 0);
    z-index: 2;
    color: #138808;
    width: 140px;
  }
}
