/*----------------------project 4 css------------------------------------------*/
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fixed_text {
  position: absolute;
  z-index: 2;
  bottom: 2vmin;
  font-family: "Comic Neue", cursive;
  font-size: 2.5vmin;
  opacity: 0.9;
  font-weight: 500;
  color: #138808;
}
.fixed_image {
  width: 21vmin;
  height: 14vmin;
  position: absolute;
  opacity: 0.4;
}

.text {
  text-align: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inner_container {
  width: 80%;
  display: grid;
  grid-template-columns: 19% 59% 19%;
}
.left_cont {
  height: 500px;
}

.middle_top {
}

.right_cont {
  height: 500px;
}

.middle_bottom {
}

.middle_slider {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.middle_con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}

.slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.center_text {
  font-size: 3.5vmin;
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  text-align: center;
}

.box {
  width: 90%;
  display: flex;
  align-items: center;
}

.fixed_box {
  width: 80%;
  height: 113px;
  margin: 10px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 702px) {
  .fixed_image {
    width: 15vmin;
    height: 10vmin;
  }
  .fixed_text {
    top: 5.5vmin;
    font-size: 2.1vmin;
  }
  .center_text {
    font-size: 3vmin;
  }
  .fixed_box {
    height: 20vmin;
  }
  .left_cont {
    height: 312px;
    padding-top: 1vmin;
  }
  .right_cont {
    height: 292px;
    padding-top: 3vmin;
  }
  .middle_con {
    height: 333px;
  }
  .inner_container {
    width: 95%;
  }
  .right_cont > .fixed_box > .fixed_text {
    top: 2vmin;
  }
}
